
body, html {
    min-height: 100%;
    margin: 0;
}
.bg {
    background-image: url('IMG_5983_bw.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    height: 100%;
}
.bubble {
    display: none;
}
.content {
    width: 40%;
    float: left;
    margin-left: 10em;
    margin-top: 11em;
    margin-bottom: 2em;
    padding: 2em;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}
h1 {
    font-size: 5em;
}
p {
    font-size: 2em;
}

@media screen and (max-width: 1300px) {
    .bg {
        height: 100%;
        background-position: center;
    }
    .content {
        margin-left: 5em;
        margin-top: 5em;
        width: 40%;
    }
    h1 {
        font-size: 2.5em;
    }
    p {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 500px) {
    .bg {
        height: 100%;
        background-position: left bottom;
        margin-top: 6em;
    }
    .bubble {
        display: block;
        width: 30%;
        border-radius: 50%;
        margin: 2em auto;
    }
    .content {
        width: auto;
        margin: -4em 2em 2em 2em;
        background-color: rgba(255, 255, 255, 0.8);
    }
    h1 {
        font-size: 1.2em;
    }
    p {
        font-size: 1em;
    }
}
